@model LWBugTracking.Models.ProjectTable
@using LWBugTracking.Helper

<section class="panel">
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-8">
                <div class="chart-data-selector" id="salesSelectorWrapper">
                    <h2>
                        Role:
                        <strong>
                            <select class="form-control" id="salesSelector">
                                <option value="JSOFT Admin" selected>Project Managers Project Status</option>
                                <option value="JSOFT Drupal">Developers on Project and assigned Tickets</option>
                                <option value="JSOFT Wordpress">Submitters on Project</option>
                            </select>
                        </strong>
                    </h2>

                    <div id="salesSelectorItems" class="chart-data-selector-items mt-sm">
                        <!-- Flot: Sales JSOFT Admin -->
                        <div class="chart chart-sm" data-sales-rel="JSOFT Admin" id="flotDashSales1" class="chart-active"></div>
                        <script>

                            var flotDashSales1Data = [{
                                data: [
                                    ["Jan", 140],
                                    ["Feb", 240],
                                    ["Mar", 190],
                                    ["Apr", 140],
                                    ["May", 180],
                                    ["Jun", 320],
                                    ["Jul", 270],
                                    ["Aug", 180]
                                ],
                                color: "#0088cc"
                            }];

                            // See: assets/javascripts/dashboard/examples.dashboard.js for more settings.

                        </script>

                        <!-- Flot: Sales JSOFT Drupal -->
                        @*<div class="chart chart-md" id="morrisLine"></div>
                        <script type="text/javascript">
                            var morrisLineData = [{
                                y: '2006',
                                a: 100,
                                b: 90
                            }, {
                                y: '2007',
                                a: 75,
                                b: 65
                            }, {
                                y: '2008',
                                a: 50,
                                b: 40
                            }, {
                                y: '2009',
                                a: 75,
                                b: 65
                            }, {
                                y: '2010',
                                a: 50,
                                b: 40
                            }, {
                                y: '2011',
                                a: 75,
                                b: 65
                            }, {
                                y: '2012',
                                a: 100,
                                b: 90
                            }, {
                                y: '2013',
                                a: 75,
                                b: 65
                            }, {
                                y: '2014',
                                a: 100,
                                b: 90
                            }];
                        </script>*@
                        <div class="chart chart-sm" data-sales-rel="JSOFT Drupal" id="flotDashSales2" class="chart-hidden"></div>

                        <!-- Flot: Sales JSOFT Wordpress -->
                        <div class="chart chart-sm" data-sales-rel="JSOFT Wordpress" id="flotDashSales3" class="chart-hidden"></div>

                    </div>

                </div>
            </div>
            <div class="col-lg-4 text-center">
                <h2 class="panel-title mt-md">Completed</h2>
                <div class="liquid-meter-wrapper liquid-meter-sm mt-lg">
                    <div class="liquid-meter">
                        <meter min="0" max="100" value="35" id="meterSales"></meter>
                    </div>
                    <div class="liquid-meter-selector" id="meterSalesSel">
                        <a href="#" data-val="35" class="active">Projects</a>
                        <a href="#" data-val="28">Tickets</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>