@model LWBugTracking.Models.ProjectTable
@using LWBugTracking.Controllers

@{ 
    var ajaxController = new AjaxDataController();
}

<section class="panel">
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-8">
                <div class="chart-data-selector" id="salesSelectorWrapper">
                    <h2>
                        Role:
                        <strong>
                            <select class="form-control" id="salesSelector">
                                <option value="JSOFT Admin" selected>Project Managers Project Status</option>
                                <option value="JSOFT Drupal">Developers on Project and assigned Tickets</option>
                                <option value="JSOFT Wordpress">Submitters on Project</option>
                            </select>
                        </strong>
                    </h2>

                    <div id="salesSelectorItems" class="chart-data-selector-items mt-sm">
                        <!-- Flot: Sales JSOFT Admin -->
                        <div class="chart chart-sm" data-sales-rel="JSOFT Admin" id="morrisStacked" class="chart-active"></div>

                        <!-- Flot: Sales JSOFT Drupal -->
                        <div class="chart chart-sm" data-sales-rel="JSOFT Drupal" id="morrisLine" class="chart-hidden"></div>

                        <!-- Flot: Sales JSOFT Wordpress -->
                        <div class="chart chart-sm" data-sales-rel="JSOFT Wordpress" id="flotDashSales3" class="chart-hidden"></div>

                    </div>

                </div>
            </div>
            <div class="col-lg-4 text-center">
                <h2 class="panel-title mt-md">Unassigned</h2>
                <div class="liquid-meter-wrapper liquid-meter-sm mt-lg">
                    <div class="liquid-meter">
                        <meter min="0" max="100" value="@ajaxController.GetProjectUnassignedStatus()" id="meterSales"></meter>
                    </div>
                    <div class="liquid-meter-selector" id="meterSalesSel">
                        <a href="#" data-val="@ajaxController.GetProjectUnassignedStatus()" class="active">Projects</a>
                        <a href="#" data-val="@ajaxController.GetTicketUnassignedStatus()">Tickets</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>